{% extends "master.html" %}
{% block title %}Highscores{% endblock %}
{% block content %}
<h1 class="text-center">Highscores{% if username %} for {{ username }}{% endif %}</h1>
<table class="table table-striped table-hover">
    <tr>
        <th>#</th>
        <th>Username</th>
        <th>WPM</th>
        <th>Accuracy</th>
        <th>Date</th>
    </tr>
    {% for test in test_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ test.username }}</td>
        <td>{{ test.wpm }}</td>
        <td>{{ test.accuracy }} %</td>
        <td>{{ test.date }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No highscores yet.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}